* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
}

.contact {
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
}

